<!DOCTYPE html>
<html data-theme="synthwave" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Gather</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/Gfavicon-32x32.png" />


  <!-- ROBOTO FONTS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>

  <!-- CUSTOM FONT AWESOME KIT LINK -->
  <script src="https://kit.fontawesome.com/c26cd83bc2.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/style.css">

  <!-- TAILWIND AND DAISY UI -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" /> -->

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter', 'sans-serif'],
          },
        }
      }
    }
  </script>
</head>

<body>





  <header class="">
    <!-- <div class="flex justify-center">
      <img src="/imgs/prepp-small.png" alt="prepp logo" class=" mt-5 rounded">
    </div> -->

    <!-- <p>Pre Party Planning</p> -->
    <!-- GIF LOGO IS COMMENTED OUT FOR NOW -->
    <!-- <a href="/"><img id='logo' src="/imgs/preppLogo.gif" onmouseover="animateLogo" onmouseout="stopAnimateLogo"></a> -->

  </header>






</body>

</html>