<%- include('partials/header') -%>

    <main class="center-screen flex col justify-center">
        <div class="mt-5 justify-center ">
            <a href="/"><img class="rounded-lg" src="/imgs/preppLogo.gif" onmouseover="animateLogo"
                    onmouseout="stopAnimateLogo"></a>
            <div class="flex justify-evenly">
                <a href="/login" class="btn bg-blue-500 shadow-lg shadow-blue-500/50 mt-5"> Login</a>
                <a href="/signup" class="btn bg-blue-500 shadow-lg shadow-blue-500/50 mt-5"> Signup</a>
            </div>
        </div>
    </main>


    <%- include('partials/footer') -%>