<%- include('partials/header') -%>

<main class="container logo">
    <div class="row justify-content-around mt-5">
        <a href="/"><img id='logo' src="/imgs/preppLogo.gif" onmouseover="animateLogo" onmouseout="stopAnimateLogo"></a>
        <div class="home-text">
        <a href="/login" class="btn btn-secondary mt-5"> Login</a>
        <a href="/signup" class="btn btn-secondary mt-5"> Signup</a>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>