<%- include('partials/header') -%>
    <main class=" center-screen">
        <div class="row justify-content-center">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el=> { %>
                    <div class="alert alert-danger">
                        <%= el.msg %>
                    </div>
                    <% }) %>
                        <% } %>
                            <% if (locals.messages.info) { %>
                                <% messages.info.forEach( el=> { %>
                                    <div class="alert alert-info">
                                        <%= el.msg %>
                                    </div>
                                    <% }) %>
                                        <% } %>
                                            <form action="/signup" method="POST" class="">
                                                <div class="mb-3">
                                                    <label for="userName" class="form-label form-control"></label>
                                                    <input type="text"
                                                        class="form-control bg-gray-200 rounded-lg border border-gray-500 hover:border-gray-900 px-2 m-1 placeholder placeholder:text-slate-900"
                                                        id="userName" name="userName" placeholder="User Name">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class=" form-control "></label>
                                                    <input type="email"
                                                        class="form-control bg-gray-200 rounded-lg border border-gray-500 hover:border-gray-900 px-2 m-1 placeholder placeholder:text-slate-900"
                                                        id="exampleInputEmail1" aria-describedby="emailHelp"
                                                        name="email" placeholder="Email">
                                                    <div id="emailHelp" class="form-text"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password" class="form-label"></label>
                                                    <input type="password"
                                                        class="form-control bg-gray-200 rounded-lg border border-gray-500 hover:border-gray-900 px-2 m-1 placeholder placeholder:text-slate-900"
                                                        id="password" name="password" placeholder="Password">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="confirmPassword" class="form-label"></label>
                                                    <input type="password"
                                                        class="form-control bg-gray-200 rounded-lg border border-gray-500 hover:border-gray-900 px-2 m-1 placeholder placeholder:text-slate-900"
                                                        id="confirmPassword" name="confirmPassword" placeholder="Confirm
                                                        Password">
                                                </div>
                                                <div class=" flex justify-center">
                                                    <button type="submit"
                                                        class=" btn bg-orange-500 shadow-lg shadow-gray-500/50 rounded p-2 mt-2 text-gray-200 p-2 m-2">Submit</button>
                                                </div>
                                            </form>
        </div>
    </main>

    <%- include('partials/footer') -%>