@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* background: linear-gradient(180deg, rgba(12, 0, 36, 1) 0%, rgba(105, 9, 203, 1) 48%, rgba(214, 0, 255, 1) 100%); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    min-height: 100%;
    justify-content: center;
    display: flex;
    /* color: rgb(219, 216, 216); */
    font-size: 1.2em;
    /* background: linear-gradient(180deg, rgba(12, 0, 36, 1) 0%, rgb(20, 8, 32) 48%, rgb(60, 10, 70) 100%); */
    /* background: linear-gradient(180deg, rgba(12, 0, 36, 1) 0%, rgb(20, 8, 32) 48%, rgb(60, 10, 70) 100%); */



}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid green; */
    text-align: center;
}


.class-center {
    display: flex;

}

.text-center {

    text-align: center;

}

.feed-list {
    display: block
}


.home {
    display: flex;
    justify-content: center;
    align-content: center;
}



/* one rule to center them all */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* FEED */
.feed {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    margin: 0 16px 16px 16px;

    /* border: 1px solid white; */
}

.grid-item {
    /* border: 1px solid green; */
    padding: 10px;
    font-size: 20px;
    width: 33.333%;
    box-sizing: border-box;
    flex-basis: 33.33%;
    text-align: center;

}



.card-img-top {
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    height: 20vw;
    object-fit: cover;
    justify-content: center;
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;

}

h1 {
    text-align: center;
}



/*! tailwind tags */

/* blue button with glow bg-blue-500 shadow-lg shadow-blue-500/50 */


footer {
    /* border-top: solid 1px; */
    background: rgba(22, 21, 21, 0.5);
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    size: 10px;
}